body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.container {
  padding: 3em 2em;
  width: 90%;
}

.hightlight {
  background: yellow;
}

.resultCard {
  padding: 10px;
}

.bold {
  font-weight: 400;
}

.meta-info {
  margin-top: 10px;
  font-size: 0.9em;
}

.light {
  color: #9ca3a8;
}

.dark {
  color: #403c3c;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d-flex {
  display: flex;
}

.mr-10 {
  margin-right: 10px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 1em;
}

.italics {
  font-style: italic;
}